USE [master]
GO
/****** Object:  Database [vietnamese]    Script Date: 6/3/2026 9:31:06 PM ******/
CREATE DATABASE [vietnamese]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vietnamese', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\vietnamese.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vietnamese_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\vietnamese_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vietnamese].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vietnamese]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerText] [nvarchar](255) NULL,
	[IsCorrect] [bit] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[AudioUrl] [nvarchar](500) NULL,
	[OrderIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[AvailabilityId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[CompletedAt] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[LevelId] [int] NULL,
	[CourseName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[OrderIndex] [int] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[OrderIndex] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[PartNumber] [int] NOT NULL,
	[PartName] [nvarchar](255) NULL,
	[Instruction] [nvarchar](500) NULL,
	[Skill] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passages]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passages](
	[PassageId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[AudioUrl] [nvarchar](500) NULL,
	[OrderIndex] [int] NULL,
	[PartId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PassageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [tinyint] NOT NULL,
	[TransactionCode] [nvarchar](255) NULL,
	[Status] [tinyint] NOT NULL,
	[PaidAt] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacementTests]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacementTests](
	[PlacementId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlacementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NULL,
	[QuestionText] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[AudioUrl] [nvarchar](500) NULL,
	[PassageId] [int] NULL,
	[OrderIndex] [int] NULL,
	[PartId] [int] NULL,
	[Score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[QuizName] [nvarchar](255) NULL,
	[PassScore] [decimal](10, 2) NULL,
	[RefType] [nvarchar](50) NOT NULL,
	[RefId] [int] NULL,
	[TimeLimit] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Reply] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherAvailabilities]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherAvailabilities](
	[AvailabilityId] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PricePerHour] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AvailabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherProfiles]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherProfiles](
	[TeacherProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IntroVideoUrl] [nvarchar](500) NULL,
	[Specialty] [nvarchar](255) NULL,
	[ExperienceYears] [int] NULL,
	[RatingAverage] [decimal](3, 2) NULL,
	[TotalReviews] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[ApprovedBy] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EnglishCertificateUrl] [nvarchar](500) NULL,
	[AdminNote] [nvarchar](1000) NULL,
	[DesiredPricePerHour] [decimal](18, 2) NULL,
	[ApprovedPricePerHour] [decimal](18, 2) NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transcripts]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcripts](
	[TranscriptId] [int] IDENTITY(1,1) NOT NULL,
	[VideoId] [int] NULL,
	[Sentence] [nvarchar](max) NULL,
	[StartTime] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TranscriptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[UnitName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Objective] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[Duration] [int] NULL,
	[OrderIndex] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswer]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswer](
	[UserAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[UserQuizId] [int] NOT NULL,
	[AnswerId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[UserProgressId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AssignedDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[Status] [bit] NULL,
	[RefType] [nvarchar](50) NOT NULL,
	[RefId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserQuiz]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQuiz](
	[UserQuizId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[QuizId] [int] NULL,
	[Score] [decimal](5, 2) NULL,
	[CompletedDate] [datetime] NULL,
	[IsPassed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserQuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[RoleId] [int] NULL,
	[Status] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Bio] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoRooms]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoRooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[RoomCode] [nvarchar](255) NOT NULL,
	[HostToken] [nvarchar](max) NULL,
	[StudentToken] [nvarchar](max) NULL,
	[StartUrl] [nvarchar](max) NULL,
	[ExpiredAt] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[VideoId] [int] IDENTITY(1,1) NOT NULL,
	[YoutubeId] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260520063619_AddTeacherProfileFiles', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [IsCorrect], [ImageUrl], [AudioUrl], [OrderIndex]) VALUES (1, 1, N'a', 1, NULL, NULL, 1)
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [IsCorrect], [ImageUrl], [AudioUrl], [OrderIndex]) VALUES (2, 1, N'ă', 0, NULL, NULL, 2)
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [IsCorrect], [ImageUrl], [AudioUrl], [OrderIndex]) VALUES (3, 1, N'â', 0, NULL, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [StudentId], [InstructorId], [AvailabilityId], [StartTime], [EndTime], [TotalPrice], [Note], [Status], [CompletedAt], [CreatedDate]) VALUES (120, 21, 1, 81, CAST(N'2026-06-03T17:14:00.000' AS DateTime), CAST(N'2026-06-03T18:13:00.000' AS DateTime), CAST(9.83 AS Decimal(10, 2)), NULL, 4, NULL, CAST(N'2026-06-03T13:57:04.817' AS DateTime))
INSERT [dbo].[Bookings] ([BookingId], [StudentId], [InstructorId], [AvailabilityId], [StartTime], [EndTime], [TotalPrice], [Note], [Status], [CompletedAt], [CreatedDate]) VALUES (121, 21, 1, 83, CAST(N'2026-06-03T16:21:00.000' AS DateTime), CAST(N'2026-06-03T17:12:00.000' AS DateTime), CAST(8.50 AS Decimal(10, 2)), NULL, 3, CAST(N'2026-06-03T21:25:06.337' AS DateTime), CAST(N'2026-06-03T14:31:11.103' AS DateTime))
INSERT [dbo].[Bookings] ([BookingId], [StudentId], [InstructorId], [AvailabilityId], [StartTime], [EndTime], [TotalPrice], [Note], [Status], [CompletedAt], [CreatedDate]) VALUES (122, 21, 1, 81, CAST(N'2026-06-03T17:14:00.000' AS DateTime), CAST(N'2026-06-03T18:13:00.000' AS DateTime), CAST(9.98 AS Decimal(10, 2)), NULL, 3, CAST(N'2026-06-03T21:25:07.050' AS DateTime), CAST(N'2026-06-03T14:46:24.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [LevelId], [CourseName], [Description], [OrderIndex], [CreatedBy], [IsActive]) VALUES (1, 1, N'Ngữ âm & Phát âm căn bản', N'Bảng chữ cái, hệ thống 6 thanh điệu (ngang, huyền, sắc, hỏi, ngã, nặng) và quy tắc ghép vần chuẩn.', 1, N'Phạm Thu Phương', 1)
INSERT [dbo].[Courses] ([CourseId], [LevelId], [CourseName], [Description], [OrderIndex], [CreatedBy], [IsActive]) VALUES (2, 1, N'Chào hỏi & Giới thiệu bản thân', N'Cách xưng hô "anh, chị, em", giới thiệu tên, quốc tịch, nghề nghiệp và nơi làm việc hiện tại.', 2, N'Phạm Thu Phương', 1)
INSERT [dbo].[Courses] ([CourseId], [LevelId], [CourseName], [Description], [OrderIndex], [CreatedBy], [IsActive]) VALUES (3, 1, N'Gia đình & Thời gian', N'Từ vựng về các thành viên trong gia đình, cách hỏi tuổi, xem giờ giấc và lịch trình ngày, tháng.', 3, N'Phạm Thu Phương', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([LevelId], [LevelName], [Description], [OrderIndex], [IsActive]) VALUES (1, N'A1', N'Nhận biết bảng chữ cái, thanh điệu. Giao tiếp các nhu cầu tối thiểu (tên tuổi, quốc tịch).', 1, 1)
INSERT [dbo].[Levels] ([LevelId], [LevelName], [Description], [OrderIndex], [IsActive]) VALUES (2, N'A2', N'Miêu tả gia đình, công việc, mua sắm. Hiểu các câu đơn và hội thoại ngắn.', 2, 1)
INSERT [dbo].[Levels] ([LevelId], [LevelName], [Description], [OrderIndex], [IsActive]) VALUES (3, N'B1', N'Viết thư, kể lại một sự việc, bày tỏ ý kiến cá nhân về các chủ đề quen thuộc (du lịch, học tập).', 3, 1)
SET IDENTITY_INSERT [dbo].[Levels] OFF
GO
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([PartId], [QuizId], [PartNumber], [PartName], [Instruction], [Skill]) VALUES (7, 9, 1, N'Đọc hiểu', N'Đọc đoạn trích sau và trả lời các câu hỏi', NULL)
INSERT [dbo].[Parts] ([PartId], [QuizId], [PartNumber], [PartName], [Instruction], [Skill]) VALUES (8, 10, 1, N'Đọc', N'Đoc doạn văn và trả lời câu hỏi ', NULL)
INSERT [dbo].[Parts] ([PartId], [QuizId], [PartNumber], [PartName], [Instruction], [Skill]) VALUES (9, 13, 1, N'Đọc hiểu', N'Anh/chị hãy đọc bài đọc dưới đây và trả lời các câu hỏi từ 1 đến câu hỏi 10
', NULL)
SET IDENTITY_INSERT [dbo].[Parts] OFF
GO
SET IDENTITY_INSERT [dbo].[Passages] ON 

SET IDENTITY_INSERT [dbo].[Passages] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [TransactionCode], [Status], [PaidAt], [CreatedDate]) VALUES (119, 122, CAST(9.83 AS Decimal(10, 2)), 0, N'pi_3Te9qTA5OxC8v6ZO0zhXqvCR', 1, CAST(N'2026-06-03T15:08:15.327' AS DateTime), CAST(N'2026-06-03T15:07:51.087' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [TransactionCode], [Status], [PaidAt], [CreatedDate]) VALUES (120, 121, CAST(8.50 AS Decimal(10, 2)), 0, N'pi_3Te9r7A5OxC8v6ZO0ryTlNzV', 1, CAST(N'2026-06-03T15:08:54.900' AS DateTime), CAST(N'2026-06-03T15:08:34.133' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [TransactionCode], [Status], [PaidAt], [CreatedDate]) VALUES (121, 123, CAST(8.17 AS Decimal(10, 2)), 0, N'pi_3Te9shA5OxC8v6ZO0Hm5tprM', 1, CAST(N'2026-06-03T15:10:33.100' AS DateTime), CAST(N'2026-06-03T15:09:52.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[PlacementTests] ON 

INSERT [dbo].[PlacementTests] ([PlacementId], [Name], [Description], [CreatedDate]) VALUES (1, N'Placement Test 1', N'kiểm tra đánh giá năng lực đầu vào', CAST(N'2026-05-15T21:45:47.617' AS DateTime))
INSERT [dbo].[PlacementTests] ([PlacementId], [Name], [Description], [CreatedDate]) VALUES (4, N'Bài kiểm tra năng lực', N'kiểm tra năng lực ', CAST(N'2026-05-24T22:26:53.783' AS DateTime))
INSERT [dbo].[PlacementTests] ([PlacementId], [Name], [Description], [CreatedDate]) VALUES (5, N'Placement Test 2', N'Đề thi mẫu ĐHXH& NV', CAST(N'2026-06-01T09:16:08.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[PlacementTests] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuizId], [QuestionText], [ImageUrl], [AudioUrl], [PassageId], [OrderIndex], [PartId], [Score]) VALUES (1, 1, N'', NULL, N'1ee5eb70-4eb3-43ed-bc11-5f017ea1b9f1.mp3', NULL, 1, NULL, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[Questions] ([QuestionId], [QuizId], [QuestionText], [ImageUrl], [AudioUrl], [PassageId], [OrderIndex], [PartId], [Score]) VALUES (2, 1, N'', NULL, N'127004cf-981e-421a-a68d-b1b02bdda186.mp3', NULL, 1, NULL, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[Questions] ([QuestionId], [QuizId], [QuestionText], [ImageUrl], [AudioUrl], [PassageId], [OrderIndex], [PartId], [Score]) VALUES (3, 1, N'y', NULL, NULL, NULL, 1, NULL, CAST(1.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([QuizId], [QuizName], [PassScore], [RefType], [RefId], [TimeLimit], [CreatedDate], [IsActive]) VALUES (1, N'Kiểm tra nguyên âm (Check vowels)', CAST(70.00 AS Decimal(10, 2)), N'UNIT', 1, NULL, CAST(N'2026-05-18T18:21:28.090' AS DateTime), 1)
INSERT [dbo].[Quizzes] ([QuizId], [QuizName], [PassScore], [RefType], [RefId], [TimeLimit], [CreatedDate], [IsActive]) VALUES (2, N'Bài kiểm tra A1', CAST(70.00 AS Decimal(10, 2)), N'COURSE_JUMP', 1, NULL, CAST(N'2026-05-18T22:17:31.877' AS DateTime), 1)
INSERT [dbo].[Quizzes] ([QuizId], [QuizName], [PassScore], [RefType], [RefId], [TimeLimit], [CreatedDate], [IsActive]) VALUES (6, N'kiểm tra phụ âm (check consonants)', CAST(70.00 AS Decimal(10, 2)), N'UNIT', 2, NULL, CAST(N'2026-05-24T10:51:00.947' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [BookingId], [StudentId], [InstructorId], [Rating], [Comment], [Reply], [CreatedDate]) VALUES (17, 121, 21, 1, 5, N'cảm ơn đã luyện nói cùng tôi, cô giáo dạy rất hay!!', NULL, CAST(N'2026-06-03T14:26:19.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Moderator')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherAvailabilities] ON 

INSERT [dbo].[TeacherAvailabilities] ([AvailabilityId], [InstructorId], [StartTime], [EndTime], [Status], [CreatedDate], [PricePerHour]) VALUES (80, 1, CAST(N'2026-06-03T20:12:00.000' AS DateTime), CAST(N'2026-06-03T21:10:00.000' AS DateTime), 1, CAST(N'2026-06-03T13:12:52.863' AS DateTime), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[TeacherAvailabilities] ([AvailabilityId], [InstructorId], [StartTime], [EndTime], [Status], [CreatedDate], [PricePerHour]) VALUES (81, 1, CAST(N'2026-06-03T17:14:00.000' AS DateTime), CAST(N'2026-06-03T18:13:00.000' AS DateTime), 1, CAST(N'2026-06-03T13:13:07.633' AS DateTime), CAST(9.98 AS Decimal(18, 2)))
INSERT [dbo].[TeacherAvailabilities] ([AvailabilityId], [InstructorId], [StartTime], [EndTime], [Status], [CreatedDate], [PricePerHour]) VALUES (82, 1, CAST(N'2026-06-03T21:12:00.000' AS DateTime), CAST(N'2026-06-03T22:01:00.000' AS DateTime), 1, CAST(N'2026-06-03T14:13:25.110' AS DateTime), CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TeacherAvailabilities] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherProfiles] ON 

SET IDENTITY_INSERT [dbo].[TeacherProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Transcripts] ON 

INSERT [dbo].[Transcripts] ([TranscriptId], [VideoId], [Sentence], [StartTime]) VALUES (1, 2, N'Trong chúng ta Chắc hẳn ai cũng mong muốn mình có một tâm hồn đẹp', 11.52)
INSERT [dbo].[Transcripts] ([TranscriptId], [VideoId], [Sentence], [StartTime]) VALUES (2, 2, N'Lương Thị', 15.616)
INSERT [dbo].[Transcripts] ([TranscriptId], [VideoId], [Sentence], [StartTime]) VALUES (3, 2, N'Có một sức mạnh', 16.64)
GO
SET IDENTITY_INSERT [dbo].[Transcripts] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

GO
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswer] ON 

INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserQuizId], [AnswerId], [QuestionId]) VALUES (369, 34, 277, 92)
INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserQuizId], [AnswerId], [QuestionId]) VALUES (370, 34, 281, 93)
INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserQuizId], [AnswerId], [QuestionId]) VALUES (371, 34, 285, 94)
SET IDENTITY_INSERT [dbo].[UserAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProgress] ON 

INSERT [dbo].[UserProgress] ([UserProgressId], [UserId], [AssignedDate], [CompletedDate], [Status], [RefType], [RefId]) VALUES (145, 20, CAST(N'2026-06-02T08:14:37.310' AS DateTime), NULL, 0, N'LEVEL_JUMP', 1)
INSERT [dbo].[UserProgress] ([UserProgressId], [UserId], [AssignedDate], [CompletedDate], [Status], [RefType], [RefId]) VALUES (146, 20, CAST(N'2026-06-02T08:14:37.327' AS DateTime), NULL, 0, N'COURSE_JUMP', 1)
INSERT [dbo].[UserProgress] ([UserProgressId], [UserId], [AssignedDate], [CompletedDate], [Status], [RefType], [RefId]) VALUES (147, 20, CAST(N'2026-06-02T08:14:37.327' AS DateTime), CAST(N'2026-06-02T09:14:15.787' AS DateTime), 1, N'UNIT', 1)
SET IDENTITY_INSERT [dbo].[UserProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[UserQuiz] ON 

INSERT [dbo].[UserQuiz] ([UserQuizId], [UserId], [QuizId], [Score], [CompletedDate], [IsPassed]) VALUES (34, 20, 10, CAST(0.00 AS Decimal(5, 2)), CAST(N'2026-06-01T22:24:33.697' AS DateTime), 0)
INSERT [dbo].[UserQuiz] ([UserQuizId], [UserId], [QuizId], [Score], [CompletedDate], [IsPassed]) VALUES (35, 20, 9, CAST(0.00 AS Decimal(5, 2)), CAST(N'2026-06-02T09:15:30.137' AS DateTime), 0)
INSERT [dbo].[UserQuiz] ([UserQuizId], [UserId], [QuizId], [Score], [CompletedDate], [IsPassed]) VALUES (36, 20, 1, CAST(100.00 AS Decimal(5, 2)), CAST(N'2026-06-02T09:14:15.733' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserQuiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId], [Status], [Country], [Bio], [AvatarUrl]) VALUES (1, N'Phạm Thu Phương', N'phuong@gmail.com', N'$2a$11$bqGaycJdFOSJ2od5MSIWouyyfCuIEyFnVIHlclDRLNFzRD/WC8jNG', 2, 1, N'Việt Nam', N'quốc tịch Việt Nam', N'http://localhost:5108/uploads/c4f8fe2b-13f3-4915-a432-279f2cbe6396.jpg')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId], [Status], [Country], [Bio], [AvatarUrl]) VALUES (2, N'Phạm Hà Bắc', N'bac@gmail.com', N'$2a$11$9itjomkmdaJMLnub7p4Z9.8RCl4lGPySvUi6dozhwPzzUytK3Ol4K', 2, 1, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [RoleId], [Status], [Country], [Bio], [AvatarUrl]) VALUES (3, N'Phạm Hà Thu', N'thu@gmail.com', N'$2a$11$e0B67l3l9CpAoNzcJKoDj.QFDdzVAQ0y2kij7mY1A369AZYEwUA1G', 5, 1, NULL, NULL, N'ddc1163f-684c-4483-9748-e81c81e4ddb8.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VideoRooms] ON 

INSERT [dbo].[VideoRooms] ([RoomId], [BookingId], [RoomCode], [HostToken], [StudentToken], [StartUrl], [ExpiredAt], [CreatedDate]) VALUES (14, 123, N'1e6c70a0-3d14-41e9-a915-fb95ca888464', N'e329d391-c2bc-4c01-9007-64c3185ca0be', N'b36b24cd-bb55-45f6-82e3-6ca4354d737a', N'https://meet.jit.si/1e6c70a0-3d14-41e9-a915-fb95ca888464', CAST(N'2026-06-03T22:16:00.000' AS DateTime), CAST(N'2026-06-03T14:25:15.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[VideoRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([VideoId], [YoutubeId], [Title], [CreatedBy], [Status]) VALUES (2, N'bISVSCESCsw', N'7 lời khuyên tạo nên vẻ đẹp tâm hồn Văn Hóa Tâm Linh', N'phuong@gmail.com', 1)
INSERT [dbo].[Videos] ([VideoId], [YoutubeId], [Title], [CreatedBy], [Status]) VALUES (3, N'CaK4mQc6Me4', N'Bản chất của Ánh sáng | Newton vs Huygens | Ánh sáng - Phần 2 | Phim tài liệu', N'phuong@gmail.com', 1)
INSERT [dbo].[Videos] ([VideoId], [YoutubeId], [Title], [CreatedBy], [Status]) VALUES (4, N'alqSV6MjSIc', N'GARDENTOUR- Tham quan khu vườn qua 4 mùa của PHUONGSKITCHEN', N'phuong@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
/****** Object:  Index [UQ_Answers]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Answers] ADD  CONSTRAINT [UQ_Answers] UNIQUE NONCLUSTERED 
(
	[QuestionId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Courses]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [UQ_Courses] UNIQUE NONCLUSTERED 
(
	[LevelId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Levels_Order]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Levels] ADD  CONSTRAINT [UQ_Levels_Order] UNIQUE NONCLUSTERED 
(
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Parts]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [UQ_Parts] UNIQUE NONCLUSTERED 
(
	[QuizId] ASC,
	[PartNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Passages]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Passages] ADD  CONSTRAINT [UQ_Passages] UNIQUE NONCLUSTERED 
(
	[PartId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payments__73951AEC761616B0]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Quizzes_Ref]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Quizzes] ADD  CONSTRAINT [UQ_Quizzes_Ref] UNIQUE NONCLUSTERED 
(
	[RefType] ASC,
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Reviews__73951AEC3B5DD9DE]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Reviews] ADD UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Units]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Units] ADD  CONSTRAINT [UQ_Units] UNIQUE NONCLUSTERED 
(
	[CourseId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserAnswer]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[UserAnswer] ADD  CONSTRAINT [UQ_UserAnswer] UNIQUE NONCLUSTERED 
(
	[UserQuizId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserProgress_Ref]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[UserProgress] ADD  CONSTRAINT [UQ_UserProgress_Ref] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[RefType] ASC,
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserQuiz__EF3CE6A55D7C5EBC]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[UserQuiz] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053487A57E5F]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__VideoRoo__73951AEC3AAEF21B]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[VideoRooms] ADD UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Videos_YoutubeId]    Script Date: 6/3/2026 9:31:07 PM ******/
ALTER TABLE [dbo].[Videos] ADD  CONSTRAINT [UQ_Videos_YoutubeId] UNIQUE NONCLUSTERED 
(
	[YoutubeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Levels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PlacementTests] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Quizzes] ADD  CONSTRAINT [DF_Quizzes_RefType]  DEFAULT ('UNIT') FOR [RefType]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TeacherAvailabilities] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TeacherAvailabilities] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  DEFAULT ((0)) FOR [ExperienceYears]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  DEFAULT ((0)) FOR [RatingAverage]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TeacherProfiles] ADD  CONSTRAINT [DF_TeacherProfiles_DesiredPricePerHour]  DEFAULT ((0)) FOR [DesiredPricePerHour]
GO
ALTER TABLE [dbo].[Units] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Units] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserProgress] ADD  CONSTRAINT [DF_UserProgress_RefType]  DEFAULT ('UNIT') FOR [RefType]
GO
ALTER TABLE [dbo].[UserProgress] ADD  DEFAULT ((0)) FOR [RefId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VideoRooms] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Videos] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Availability] FOREIGN KEY([AvailabilityId])
REFERENCES [dbo].[TeacherAvailabilities] ([AvailabilityId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Availability]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Instructor]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Student]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Levels] ([LevelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Levels]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Parts]  WITH CHECK ADD  CONSTRAINT [FK_Parts_Quizzes] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parts] CHECK CONSTRAINT [FK_Parts_Quizzes]
GO
ALTER TABLE [dbo].[Passages]  WITH CHECK ADD  CONSTRAINT [FK_Passages_Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[Parts] ([PartId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Passages] CHECK CONSTRAINT [FK_Passages_Parts]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Booking]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[Parts] ([PartId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Parts]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Passages] FOREIGN KEY([PassageId])
REFERENCES [dbo].[Passages] ([PassageId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Passages]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Quizzes] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Quizzes]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Booking]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Instructor]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Student]
GO
ALTER TABLE [dbo].[TeacherAvailabilities]  WITH CHECK ADD  CONSTRAINT [FK_TeacherAvailabilities_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TeacherAvailabilities] CHECK CONSTRAINT [FK_TeacherAvailabilities_Instructor]
GO
ALTER TABLE [dbo].[TeacherProfiles]  WITH CHECK ADD  CONSTRAINT [FK_TeacherProfiles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TeacherProfiles] CHECK CONSTRAINT [FK_TeacherProfiles_User]
GO
ALTER TABLE [dbo].[Transcripts]  WITH CHECK ADD  CONSTRAINT [FK_Transcripts_Videos] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([VideoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transcripts] CHECK CONSTRAINT [FK_Transcripts_Videos]
GO
ALTER TABLE [dbo].[Units]  WITH CHECK ADD  CONSTRAINT [FK_Units_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Units] CHECK CONSTRAINT [FK_Units_Courses]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswer_Question]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_Answers] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answers] ([AnswerId])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswers_Answers]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_UserQuiz] FOREIGN KEY([UserQuizId])
REFERENCES [dbo].[UserQuiz] ([UserQuizId])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswers_UserQuiz]
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserProgress_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserProgress] CHECK CONSTRAINT [FK_UserProgress_Users]
GO
ALTER TABLE [dbo].[UserQuiz]  WITH CHECK ADD  CONSTRAINT [FK_UserQuiz_Quizzes] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserQuiz] CHECK CONSTRAINT [FK_UserQuiz_Quizzes]
GO
ALTER TABLE [dbo].[UserQuiz]  WITH CHECK ADD  CONSTRAINT [FK_UserQuiz_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserQuiz] CHECK CONSTRAINT [FK_UserQuiz_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VideoRooms]  WITH CHECK ADD  CONSTRAINT [FK_VideoRooms_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[VideoRooms] CHECK CONSTRAINT [FK_VideoRooms_Booking]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBookingStatus]    Script Date: 6/3/2026 9:31:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBookingStatus]
AS
BEGIN
    SET NOCOUNT ON;

    /*
     * Confirmed -> InProgress
     */
    UPDATE Bookings
    SET Status = 2
    WHERE Status = 1
        AND StartTime <= GETUTCDATE()
        AND EndTime > GETUTCDATE();

    /*
     * InProgress -> Completed
     */
    UPDATE Bookings
    SET
        Status = 3,
        CompletedAt = GETUTCDATE()
    WHERE Status = 2
        AND EndTime <= GETUTCDATE();
END
GO
USE [master]
GO
