<div class="auth-page">

    <div class="bg-circle circle-1"></div>
    <div class="bg-circle circle-2"></div>
    <div class="bg-circle circle-3"></div>

    <div class="auth-card">

        <div class="auth-left">

            <div class="logo-box">
                VP
            </div>

            <h1>
                Welcome Back
            </h1>

            <p>
                Continue your Vietnamese learning journey with lessons,
                quizzes and online classes.
            </p>

            <div class="feature-list">

                <div class="feature-item">
                    Interactive Lessons
                </div>

                <div class="feature-item">
                    Online Teacher Booking
                </div>

                <div class="feature-item">
                    AI Pronunciation Practice
                </div>

            </div>

        </div>

        <div class="auth-right">

            <h2>
                Login
            </h2>

            <p class="subtitle">
                Sign in to your account
            </p>

            <div class="input-group">

                <label>
                    Email
                </label>

                <input
                    type="email"
                    placeholder="Enter your email"
                    [(ngModel)]="email"
                />

            </div>

            <div class="input-group">

                <label>
                    Password
                </label>

                <input
                    type="password"
                    placeholder="Enter your password"
                    [(ngModel)]="password"
                />

            </div>

            <div class="login-options">

                <label class="remember">

                    <input type="checkbox">

                    Remember me

                </label>

                <a>
                    Forgot password?
                </a>

            </div>

            <button
                class="login-btn"
                (click)="login()"
            >
                Login Account
            </button>

            <div class="register-link">

                Don't have an account?

                <a routerLink="/register">
                    Create Account
                </a>

            </div>

        </div>

    </div>

</div>