<header class="top-header">
    <div class="header-container">
        <div class="logo-section">
            <img src="logo.png" alt="logo">
            <div class="site-title">
                <h1>VIETNAMESE LEARNING</h1>
                <p>Start your Vietnamese journey easily and confidently with VietPhuong's.</p>
            </div>
        </div>
    </div>
</header>

<div class="main-container">

<aside class="left-menu">
    <h3>Menu</h3>
    <p *ngIf="name; else guest">
        Hello: {{name}}
    </p>
    
    <ng-template #guest>
        <p>Please log in to continue</p>
    </ng-template>
    
    <ul *ngIf="role == null">
    <li><button class="menu-btn" routerLink="/home">Home</button></li>
    <li><button class="menu-btn" routerLink="user/search">Vocabulary Search</button></li>

    <li>
        <button class="menu-btn" (click)="toggleMenu()">Account Settings</button>

        <ul *ngIf="showAccountMenu">
            <li><button class="menu-btn" routerLink="/login">Login</button></li>
            <li><button class="menu-btn" routerLink="user/register">Register</button></li>
        </ul>
    </li>
</ul>

    <ul *ngIf="role === 'User'">
        <li><button class="menu-btn" routerLink="/home">Home</button></li>
        <li><button class="menu-btn" routerLink="user/search">Vocabulary Search</button></li>
        <li><button class="menu-btn" routerLink="/user/units">Courses</button></li>
        <li><button class="menu-btn" routerLink="/user/tests">Practice Tests</button></li>
        <li><button class="menu-btn" routerLink="/pronunciation">Pronunciation Practice</button></li>
        <li><button class="menu-btn" routerLink="/classes">Online Classes</button></li>
        <li><button class="menu-btn" routerLink="/saved">Saved Lessons</button></li>
        <li>
        
            <button class="menu-btn" (click)="toggleMenu()">
                Account Settings
            </button>
        
            <ul *ngIf="showAccountMenu">
        
                <li *ngIf="isLogin">
                    <button class="menu-btn" routerLink="/profile">Profile</button>
                </li>
                
                <li *ngIf="isLogin">
                    <button class="menu-btn" (click)="logout()">Logout</button>
                </li>
                
        
            </ul>
        
        </li>
    </ul>

    <ul *ngIf="role === 'Admin' || role === 'Moderator'">
        <li><button class="menu-btn" routerLink="/home">Home</button></li>
        <li><button class="menu-btn" routerLink="/dashboard">Dashboard</button></li>
        <li><button class="menu-btn" routerLink="admin/users">Manage Users</button></li>
        <li><button class="menu-btn" routerLink="admin/videos">Manage Videos</button></li>
        <li><button class="menu-btn" routerLink="admin/levels">Manage Lessons</button></li>
        <li><button class="menu-btn" routerLink="admin/placements">Manage Tests</button></li>
        <li>
        
            <button class="menu-btn" (click)="toggleMenu()">
                Account Settings
            </button>
        
            <ul *ngIf="showAccountMenu">
        
                <li *ngIf="isLogin">
                    <button class="menu-btn" routerLink="/profile">Profile</button>
                </li>
        
                <li *ngIf="isLogin">
                    <button class="menu-btn" (click)="logout()">Logout</button>
                </li>
        
            </ul>
        
        </li>
    </ul>
</aside>


<div class="content">
    <router-outlet></router-outlet>
</div>

</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3>VIETNAMESE LEARNING</h3>
            <p>Graduation Thesis – Faculty of Information Technology</p>
            <p>University of Transport and Communications</p>
            <p>Supervisor: PhD. Pham Dinh Phong</p>
        </div>

        <div class="footer-right">
            <p>Student: <strong>Pham Thu Phuong</strong></p>
            <p>Student ID: 221230960 | Class: IT2 - K63</p>
            <p>Email: thuphuong21072004&#64;gmail.com</p>
            <p>Phone: 0916504677 | Zalo: 0394553893</p>
        </div>
    </div>

    <div class="footer-copy">
        2026 Vietnamese Learning System. All rights reserved.
    </div>
</footer>