<div class="main-container">
    <div class="content-center">

        <div class="search-wrapper">
            <div class="search-row">
                <input type="text" [(ngModel)]="keyword" (keyup.enter)="onSearchClick()"
                    placeholder="Enter Vietnamese word..." />
                <button (click)="onSearchClick()">Search</button>
            </div>
        </div>

        <div *ngIf="hasSearched" class="title">
            How would you say " <span class="highlight">"{{ searchkeyword }}"</span> "in Vietnamese?
        </div>

        <div *ngIf="!hasSearched" class="intro-section">
            <p class="intro-text">
                Speak Vietnamese with confidence with VietPhuong.
                Learn how native speakers pronounce difficult sounds through real video clips.
                Experience Vietnamese as it’s truly spoken — not just dictionary audio.
            </p>

            <div class="examples">
                Examples:
                <span class="example-word">xin chào</span>,
                <span class="example-word">gia đình</span>,
                <span class="example-word">ngôi nhà</span>
            </div>
        </div>

        <div *ngIf="noResult" class="no-result">
            No videos found for "<span class="highlight">{{keyword}}</span>"
        </div>

        <div class="video-container" *ngIf="videoId">
            <div id="ytplayer"></div>
        </div>

        <div class="video-controls" *ngIf="videoId">
            <button (click)="previousVideo()">⏮</button>
            <button (click)="back5()">⏪</button>
            <button (click)="replay()">🔁</button>
            <button (click)="pause()">{{ isPlaying ? '⏸' : '▶' }}</button>
            <button (click)="forward5()">⏩</button>
            <button (click)="nextVideo()">⏭</button>
        </div>

        <div class="dictionary-container" *ngIf="dictionaryData">
        
            <div class="dict-header">
        
                <h2>
                    {{ dictionaryData.word }}
                </h2>
        
                <div class="dict-sub">
                    Vietnamese → English
                </div>
        
            </div>
        
            <div *ngFor="
              let group of dictionaryData.meanings
            " class="meaning-group">
        
                <div class="word-type">
        
                    {{ group[0] }}
        
                </div>
        
                <div *ngFor="let sense of group[2]" class="sense-box">
        
                    <div class="english-word">
        
                        {{ sense[0] }}
        
                    </div>
        
                    <div class="similar-word">
        
                        <span>Similar:</span>
        
                        {{ sense[1].join(', ') }}
        
                    </div>
        
                </div>
        
            </div>
        
            <div *ngIf="
              dictionaryData.examples &&
              dictionaryData.examples.length > 0
            " class="example-box">
        
                <div class="example-title">
        
                    Example Sentences
        
                </div>
        
                <div *ngFor="
                let ex of dictionaryData.examples
              " class="example-item">
        
                    <div [innerHTML]="ex[0]"></div>
        
                </div>
        
            </div>
        
        </div>

    </div>
</div>