<div class="admin-container">
    <div class="admin-card">
        <div class="card-header">
            <h2>{{ unitId > 0 ? 'Edit Unit' : 'Add New Unit' }}</h2>
        </div>
        <div class="card-body">
            <div class="upload-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave()"
                (drop)="onDrop($event)">
                <div class="upload-content">
                    <input type="file" (change)="onFileSelect($event)" accept="video/*">
                </div>
            </div>
            <div class="video-preview" *ngIf="videoFullUrl">
                <video [src]="videoFullUrl" controls (loadedmetadata)="onVideoLoaded($event)"></video>
            </div>
            <div class="form-grid">
                <input [(ngModel)]="unit.unitName" placeholder="Unit title">
                <textarea [(ngModel)]="unit.description" placeholder="Description"></textarea>
                <textarea [(ngModel)]="unit.objective" placeholder="Objective"></textarea>
            </div>
            <button class="btn-primary" (click)="save()">Save Unit</button>
        </div>
    </div>
    <button *ngIf="unitId > 0" class="btn-primary" (click)="showQuiz = !showQuiz">
        {{ showQuiz ? 'Hide Quiz' : 'Manage Quiz' }}
    </button>
    
    <app-quiz *ngIf="unitId > 0 && showQuiz" [refId]="unitId" [refType]="'UNIT'">
    </app-quiz>
</div>